.login-form {
    max-width: 300px;
    margin: auto;
}

.login-form-button {
    width: 100%;
}
.main {
    text-align: center; /*让div内部文字居中*/
    background-color: #fff;
    border-radius: 20px;
    width: 600px;
    height: 350px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.title2 {
    color: darkgray;
    margin-bottom: 30px;
}