.trigger {
    font-size: 18px;
    margin-left: 43%;
    margin-top: 5px;
    cursor: pointer;
    transition: color .3s;
}
.logo {
    width: 184px;
    height: 31px;
    /*background: rgba(255,255,255,.2);*/
    /*margin: 16px 28px 16px 0;*/
    margin-left: 16px;
    float: left;
}
.trigger:hover {
    color: #1890ff;
}
.ant-layout{
    /*height: 100%;*/
}
.menu {
    height: 100%;
    /*width: 45px;*/
    /*padding: 0!important;*/
}
.author {
    position: absolute;
    top: 2px;
    left: 65px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Microsoft YaHei","SimHei"
}
.logo-c {
    position: absolute;
    margin-top: 10px;
    left: 21px;
    font-size: 38px;
    animation: App-logo-spin infinite 20s linear;
}
.white {
    color: white
}
/*.ant-Sider {*/
    /*width: 100px;*/
/*}*/
.nav-text {
    /*display: none;*/
}
.nav-icon {
    /*position:absolute;*/
    /*left:-20px;*/
}
